table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

td, th {
    border: 1px solid;
    text-align: left;
    padding: 8px;
  }


div button {
  align-self: center;
  top: 70px;
  width: 150px;
}